/* 设置item样式 */
.item{
    display: flex;
    margin: 16px 0;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    justify-content: space-between;
    padding: 6px;
}